 #line-chart {
                height:300px;
                width:800px;
                margin: 0px auto;
                margin-top: 1em;
            }
            .banner { 
                font-family: georgia, serif;
                width: 90%;
                margin-left: 0px;
               padding-top: 2px;
               
            }
            .banner .first {
                color: #ccc;
                font-style: italic;
                font-size: 20px;
                padding-right: 10px;
            }
            .banner .second {
                color: #ccc;
                font-weight: bold;
                font-size: 22px;
                text-shadow: 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000
            }
            /* es para mostrar al usuario */
            .pull-right{
                border: 0px solid #fff;
                position: absolute;
                padding-top: 0px;
                font-size: 16px;
            }
            .HH_Cab_Derecha{
                padding-top: 10px;
                float: left;
                width: auto;
                
            }
           
            
            .sidebar-nav{
                margin-top: 5px;
            }
            
            .ContenedorMaster{
                width: 100%;
                margin: 0px;
                height: 500px;
                border:1px solid #ccc;
                background: #009900;
                overflow: hidden;
            }            
           
            .ColorNegro{
                background: #000;
            }            
            .ColorGris{
                background: #ccc;
            }
            .clear{
                clear: both;
            }
.contenedor {
   /*monitor de 17 pulgadas a 17*/ 
  float: left;
  min-width: 400px;
  min-height: 550px;
  position: absolute;
  background: #fff;
  margin-left: 240px;
  margin-right: 200px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-left: 1px solid #000000;
  border-left: 1px solid #111;
  width: calc(100% - 240px - 200px);
  width: -moz-calc(100% - 240px - 200px);
}  

#pie{
    margin-top: 10px;
    padding-bottom: 10px;
    height: 10px;
    bottom: 0px;
    background: #000;
}

/*Navigation*/
.sidebar-nav {
  width: 228px;
  position: relative;
  float: left;
  padding-top: 5px;
  border-top: none;
  border-left: none;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  margin: 0em 6px;
}
.menuDerecha {
  width: 180px;
  height: 100%;
  background: #ccc;
  border:0px solid #eee;
  margin-top: 5px;
  margin: 5px;
  padding: 5px;
  float: right;

  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  
}
.sidebar-nav form.search {
  padding: .5em 0em;
  padding-right: 1em;
  margin: 0em;
}
.sidebar-nav form.search input {
  background: #eee;
  margin: 0px auto;
  position: relative;
  width: 100%;
}
.sidebar-nav .nav-header {
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #0d0d0d;
  border-left: none;
  color: #ddd;
  display: block;
  background: #333333;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #404040));
  background: -ms-linear-gradient(bottom, #333333, #404040);
  background: -moz-linear-gradient(center bottom, #333333 0%, #404040 100%);
  background: -o-linear-gradient(bottom, #333333, #404040);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#404040',EndColorStr='#333333')";
  font-weight: bold;
  font-weight: normal;
  font-size: 1em;
  line-height: 2.5em;
  padding: 0em .25em;
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
  /*Change the arrow direction if the item is collapsed*/

}
.sidebar-nav .nav-header .label {
  float: right;
  margin-top: .5em;
  margin-right: .25em;
  line-height: 1.5em;
}
.sidebar-nav .nav-header:hover {
  background: #333333;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #454545));
  background: -ms-linear-gradient(bottom, #333333, #454545);
  background: -moz-linear-gradient(center bottom, #333333 0%, #454545 100%);
  background: -o-linear-gradient(bottom, #333333, #454545);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#454545',EndColorStr='#333333')";
}
.sidebar-nav .nav-header.collapsed .icon-chevron-up::before {
  content: "\f078";
}
.sidebar-nav .nav-header .icon-chevron-up {
  float: right;
}
.sidebar-nav .nav-header .label {
  float: right;
  margin-top: .7em;
  line-height: 1.5em;
}
.sidebar-nav .nav-header i[class^="icon-"] {
  margin-right: .75em;
}
.sidebar-nav .nav-list {
  margin: 0px;
  background: #2e2e2e;
  border: 0px;
}
.sidebar-nav .nav-list  > li > a:hover {
  background: #262626;
}
.sidebar-nav .nav-list  > .active > a,
.sidebar-nav .nav-list  > .active > a:hover {
  background: #262626;
}
.sidebar-nav .nav-list  > li > a {
  color: #ddd;
  text-shadow: none;
  padding: .5em 1em;
}
.sidebar-nav .nav-list.collapse {
  border-bottom: 0px;
}


.stat{
   min-height: 30px;
   line-height: 30px;
}

.stats p.stat {
  margin: 0px 10px 0px 0px;

}
.stats .stat {
  background: #111;
  margin-right: 5px;
  float: right;
  padding: 3px;
  border: 1px solid #ccc;
  background: #eeeeee;
}




.titulo {
  background: #ffffff;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e6e6e6, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e6e6e6')";
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 0px;
  height: 40px;
  margin: 0px;
  
}
.titulo h1 {
  font-size: 22px;
  color: #eee;
  color: #333;
  background: #eee;
  padding-left: 10px;
}


.subTitulo {
  background: #ccc;
  background: #ccc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ccc));
  background: -ms-linear-gradient(bottom, #e6e6e6, #ccc);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ccc 100%);
  background: -o-linear-gradient(bottom, #e6e6e6, #ccc);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e6e6e6')";
  border: 1px solid #cccccc;
  padding: 0px;
  height: auto;
  margin: 0px;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  margin-bottom: 5px;
  
}

.subTitulo h2 {
  font-size: 16px;
  color: #333;
  margin: 0px;
  background: #eee;
  padding-left: 10px;
}



.boton{
   min-height: 35px;
   line-height: 35px;
}

.botones p.boton {
  margin: 0px;

}
.botones .boton {
  
  margin-right: 5px;
  float: right;
  padding: 1px;
  border: 0px solid #ccc;
 
}











.contenedorFondo{
  border: 1px solid #ccc;
  
  margin: 0px;
  margin-top: 5px;
  padding: 4px;
}

.bordeCero{
    margin: 0px;
}

.row-fluid{
 
}
.container-fluid {
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 0px;
}

.navbar{
    background:  url('../images/prueba.jpg');
    background: rgba(0,0,0,0.3);
    border-bottom: 1px solid #3B3B3B;
}


.tablaAjustada{
    font-size: 14px;
}
.tablaAjustada td{
    padding: 2px;
}

/*formulario*/


            fieldset {
                height: auto;
                background-color: #ddd;
                padding: 5px;
                margin: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
                border:solid 1px #ccc;
            }
            fieldset span{
                margin-left: 0px;
                margin-right: 10px;
            }
            .FormLeft{
             float: left;
             margin: 0px;
             margin-left: 2px;                   
             margin-right: 2px;
             margin-bottom: 5px;
             }
             
             .enLineaHorizontal{
                 list-style-type: none;
                
                 
             }
             .enLineaHorizontal li{
                 float: left;
                 height: auto;
                 line-height: 40px;
                 background: #ccc;
                 padding: 0px;
                 margin:0px;
                 padding-left: 8px;
             }
            
             
             .radioButonHorizontales { 
               float:left; 
               clear:none; 
             }
              label { 
                  float:left; 
                  clear:none; 
                  display:block; 
                  padding: 2px 1em 0 0; 
              }
              input[type=radio], input.radio {
                  float:left; 
                  clear:none; 
                  margin: 2px 0 0 2px; 
              }
              input[type=text] {
                  margin-bottom:2px;
                  
              
              }
              
              
              
    .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }          